div.image_set {
    left:0px;
    padding-top:0px;
    width:100%;
    padding-bottom:30px;
    position:relative;
    min-height:500px;
}
body {
    background:#222;
    color: white;
}
div.container {
    margin:auto;
    width:1000px;
    top:0px;
}

a.nav {
	color:#ddd;
	font-family:"Hermit", monospace;
	text-align: right;
	float:right;
	padding-right:10px;
}

div.left {
    position:absolute; 
    height:100%;
    width:200px;
    left:0px;
    top:0px;
}

h2.title {
    color:#eee;
    font-family:"Hermit", monospace;
    text-align:right;
    padding-right:10px;
    font-weight:bold;
}

.date {
    text-align:right;
    color:#ddd;
    size:10pt;
    font-size:10pt;
    padding-right:10pt;
    font-family:"Hermit", monospace;
}

.location {
    text-align:right;
    color:#ddd;
    size:10pt;
    font-size:10pt;
    font-family:"Hermit", monospace;
    padding-right:10pt; 
}

.images {
    width: 800px;
    margin-left:200px;
    padding:10px;
    
}

img.img {
    width:380px;
    margin:5px;
    padding:0px; 
    position:relative;

}

a {
    padding:0px;
    margin:0px;

}
